
.disabled {
  background: rgba(150,150,150,0.5);
}
.gridster .gs_w {
    background-color: #000000;
}
.gridster header {
    background-color: #000000;
}
body {
    background-color: #000000;
}
.sub-section {
    border-bottom: none;
}





a:link,a:visited {
	color:#555555;
}

.indicator-light {
border-radius: 50%;
width: 22px;
height: 22px;
border: 2px solid rgb(61, 61, 61);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
margin-top: 5px;
float: left;
background-color: rgb(34, 34, 34);
margin-right: 10px;
color:white;
}

.indicator-light.on {
background-color: rgb(255, 199, 115);
box-shadow: rgb(255, 153, 0) 0px 0px 15px;
border-color: rgb(253, 241, 223);
color:black;
}




h2 {padding-left:5px;}
/*
h1 {text-align: left; font-family: 'Armata', sans-serif;}
h3 {text-align: center; background-color:#e2e2e2; padding-left:7px; padding-top:5px; padding-bottom:5px;color:#545454}
h4 {text-align: left;   font-family: 'Arial', 'Helvetica', sans-serif; font-size: 11px;  color:#545454; display: inline; padding-top:0px; padding-bottom:0px;}
h5 {text-align: left;   font-family: 'Arial', 'Helvetica', sans-serif; font-size: 11px; sans-serif; display: inline; padding-left:7px; color:#0093d0 }
h6 {text-align: left; font-family: 'Armata', sans-serif; color:#000; display: inline; padding-top:0px; padding-bottom:0px; font-size:14px; }
h7 {text-align: left; font-family: 'Armata', sans-serif; color:#FFF; display: inline; padding-left:7px; font-size:14px;}
*/


/*
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: .5em 2em .55em;
    text-shadow: 1px 1px 1px rgb(75,75,75);
    /*-webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);*/


/*.button:hover {
    text-decoration: none;
}*/
/*
.button:active {
    position: relative;
    top: 1px;
}*/


.taylortable{
   display: inline-block;
   width: 920px;
   text-align: left;
   padding-left: 25;
   margin: 1em;
   border-collapse: collapse;
}
#storetable td, #storetable th { 
	padding: .3em; 
	border: 2px #545454 solid; 
	font-size:11px;
}


#storetable thead{
	background:#CFCCCB;
}

#storetable table tbody tr:hover { background: #EDEDED;}

#log_buttons {
	margin-left:1em;
	margin-top:1em;	
}

th.min-width{
	
   /*padding: 3px 12px;*/
}

.StoreCell{
	width: 15%;
}

.AddressCell{
	width: 15%;
}

.CityCell{
	width: 7%;
}

.StateCell{
	width: 7%;
}

.ZipCell{
	width: 10%;
}
.RegionCell {
	width: 10%;	
}
.CountryCell{
	width: 10%;	
}
.StatusCell{
	width: 7%;
}


.Unit {
	width: 15%;
}
.Model {
	width: 20%;
}
.Position {
	width: 5%;
}
.FlavorCell{
	width: 10%;	
}
.LogCell{
	width: 15%;	
}
.TemperatureLog {
	width: 200px;
}
.CleaningLog {
	width: 200px;
}

