#clone-action{
        display: none !important;
        }
#share-action{
        display: none !important;
        }
#full-screen-action{
        display: none !important;
        }
#footer-logo{
        display: none !important;
        }
#footer-bar{
        display: none !important;
        }
